
/* .pagination .selected button{
    background-color: wheat;
} */

/* .pagination button{
    margin-right: 10px;
    border: 2px solid red;
    margin-bottom: 5px;
    padding: 2px 10px;
    border-radius: 5px;
} */
