#outside{
    display: grid;
    grid-template-columns: 800px auto;
    grid-gap: 20px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    height: 500px;
}

#large{
    border-radius: 20px;
    overflow: hidden;
    background-image: url('https://i.ibb.co/tLBzm4S/s1.jpg');
    /* background-size: cover; */
}

/* #large img{
    height: 100%;
    width: 100%;
} */

#large:hover{
      transition: all 3s ease;
      transform: scale(1.2);
    overflow: hidden;
}

#small{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 20px;
    border-radius: 20px;
    overflow: hidden;
    height: 500px;
}

#smallUp{
    height: 240px;
    overflow: hidden;
}

#smallUp:hover{
    transition: all 3s ease;
    transform: rotate(360deg);
    transform-style: preserve-3d;
}

#smallDown{
    height: 240px;
    overflow: hidden;
}
#smallDown:hover{
    transition: all 3s ease;
    transform: scale(1.2);
}

@media only screen and (max-width: 400px) {
    #outside {
      display: flex;
      flex-direction: column;
      height: 100%;
      border: 2px solid red;
    }
    #large img {
        max-width: fit-content;
        max-height: fit-content;
      }

    #small{
        display: flex;
        flex-direction: column;
    }
    #large:hover{
        transition: all 3s ease;
        transform: scale(1.2);
      overflow: hidden;
  }
  #smallUp:hover{
    transition: all 3s ease;
    transform: scale(1.2);
    transform-style: preserve-3d;
    overflow: hidden;
}
#smallDown:hover{
    transition: all 3s ease;
    transform: scale(1.2);
    overflow: hidden;
}
  }

  @media only screen and (min-width: 401px) and (max-width: 800px) {
    #outside {
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 2px solid red;
      }
      #large img {
          max-width: fit-content;
          max-height: fit-content;
        }
  
      #small{
          display: flex;
          flex-direction: column;
      }
      #large:hover{
        transition: all 3s ease;
        transform: scale(1.2);
      overflow: hidden;
  }
  #smallUp:hover{
    transition: all 3s ease;
    transform: scale(1.2);
    transform-style: preserve-3d;
    overflow: hidden;
}
#smallDown:hover{
    transition: all 3s ease;
    transform: scale(1.2);
    overflow: hidden;
}
  }